@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema Claro */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #1e40af;
  --secondary-color: #3b82f6;
}

/* Tema Escuro */
.dark {
  --bg-color: #1f2937;
  --text-color: #f9fafb;
  --primary-color: #2563eb;
  --secondary-color: #3b82f6;
}